{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>จำนวน Catalog : {{ catalog_num }}</h1>
<a href="{% url 'addcat' %}">Add Catalog</a>
<a href="{% url 'addshop' %}">Add Item</a>
{% if user.is_authenticated == 0 %}
<a href="{% url 'auth_login' %}">เข้าสู่ระบบ</a>
{% endif %}
{% if user.is_authenticated %}
<a href="{% url 'auth_logout' %}">ลงขื่อออก</a>
{% endif %}
<a href="{% url 'auth_register' %}">สมัครสมาชิก</a>


<br>

<ul>
{% for cat in catalog %}
    <li>{{ cat.name }}</li>
{% endfor %}
</ul>

<img src="{% static 'champ.jpg' %}" alt="">

</body>
</html>