<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form method="post" action="{% url 'auth_login' %}">
            {% csrf_token %}
            <h2 class="text-center">e-Library System</h2>
            <br>
            {% if error %}
                <span style="color: red;">{{ error }}</span>
            {% endif %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <input type="hidden" name="next_url" value="{{ next_url }}">
            <button type="submit" class="btn btn-primary w-100">LOGIN</button>
            <br>
            <br>
            <div class="text-right"><a href="{% url 'auth_register' %}">หากไม่มีบัญชี กรุณาสมัครสมาชิก</a></div>
        </form>

</body>
</html>